{% extends '_layouts/cp' %}
{% set title = 'Activity'|t('webhooks') %}
{% set selectedSubnavItem = 'activity' %}

{% block content %}

  <table id="activity" class="fullwidth data">
    <thead>
    <tr>
      <th>{{ 'Date'|t('craft-netlify-deploy-status') }}</th>
      <th>{{ 'Webhook Name'|t('craft-netlify-deploy-status') }}</th>
      <th>{{ 'Trigger'|t('craft-netlify-deploy-status') }}</th>
      <th>{{ 'Status'|t('craft-netlify-deploy-status') }}</th>
      <th>{{ 'Deploy Log'|t('craft-netlify-deploy-status') }}</th>
      <th>{{ 'Deploy URL'|t('craft-netlify-deploy-status') }}</th>
    </tr>
    </thead>
    <tbody>
    {% for status in statuses %}
    <tr>
      <td>{{ status.dateCreated ? date(status.dateCreated)|datetime('short') }}</td>
      <td>{{ status.webhookName }}</td>
      <td>{{ status.trigger }}</td>
      <td>{{ status.state }}</td>
      <td><a class="btn" href="{{ status.adminUrl }}" target="_blank">Open</a></td>
      <td><a class="btn primary" href="{{ status.deployUrl }}" target="_blank">Open</a></td>
    </tr>
    {% endfor %}
    </tbody>
  </table>

  {% include '_includes/pagination' with {
    prevLabel: 'Newer Activity'|t('craft-netlify-deploy-status'),
    nextLabel: 'Older Activity'|t('craft-netlify-deploy-status'),
    noResultsLabel: 'No Activity logged'|t('craft-netlify-deploy-status')
  } %}

{% endblock %}

{% block actionButton %}
  {% if statuses|length %}
    <a class="btn" href="{{ actionUrl('craft-netlify-deploy-status/status/clear') }}">{{ 'Clear'|t('craft-netlify-deploy-status') }}</a>
  {% endif %}
{% endblock %}
