{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Craft Netlify Deploy Status plugin for Craft CMS
 *
 * CraftNetlifyDeployStatusWidget Widget Body
 *
 * @author    Isaaz Garcia
 * @copyright Copyright (c) 2021 Isaaz Garcia
 * @link      https://bukwild.com
 * @package   CraftNetlifyDeployStatus
 * @since     1.0.0
 */
#}

{% set iconUrl = view.getAssetManager().getPublishedUrl('@bukwild/craftnetlifydeploystatus/assetbundles/craftnetlifydeploystatuswidgetwidget/dist', true) ~ '/img/CraftNetlifyDeployStatusWidget-icon.svg' %}

<img src="{{ iconUrl }}" height="64" width="64" />

<p>{{ message }}</p>
